{% extends "base.twig" %}

{% block title %}Home | PixSalle{% endblock %}

{% block content %}
<section class="jumbotron text-center mt-auto mb-auto">
  <div class="container mt-5">
    <h1 class="display-3">Welcome on PixSalle</h1>
    <p class="lead text-muted">PixSalle is a new platform where students can freely showcase their work and express themselves through photography.
    This web application will allow them to be members, explore photos posted by other photographers and picture editors,
    view resources that they can use to improve their work and contribute to the knowledge sharing within the community
    through blogs.</p>
    {% if user.id %}
    <br>
    <p class="lead">Welcome back {{user.username}}</p>
    {% else %}
    <p>
      <a href="/sign-up" class="btn btn-primary my-2">Sign up</a>
      <a href="/sign-in" class="btn btn-secondary my-2">Sign in</a>
    </p>
    {% endif %}
  </div>
</section>
{% endblock %}
