{% extends "base.twig" %}

{% block title %}Wallet | PixSalle{% endblock %}

{% block content %}
<div class="col-lg-6 offset-lg-3">
  <h1 class="display-3 my-4">Wallet</h1>
    <div class="d-flex justify-content-center align-items-center flex-column">
      <p class="lead text-muted">Here is your amount on your account</p>
      <p class="display-4">{{user.amount}}€</p>
    </div>
    {% if info %}
        <div class="alert alert-success" role="alert">
          {{info}}
        </div>
    {% endif %}
  <form class="row justify-content-center mt-5" action="/user/wallet" method="POST">
    <div class="form-group">
      <label for="amount">Amount to charge on your account</label>
      <input class="form-control" id="amount" name="amount" type="number" placeholder="€" required>
    </div>
    {% if formErrors.amount %}
        <div class="alert alert-warning" role="alert">
          {{formErrors.amount}}
        </div>
    {% endif %}
    <div class="d-flex justify-content-center">
      <button type="submit" class="m-3 btn btn-primary">Recharge</button>
    </div>
  </form>
{% endblock %}
